
h1{
	line-height: 39px;
}


nav{
	margin: 0 auto;
	position: fixed;
	text-align: center;
}

header, footer {
	background:orange;
	height: 50px;
	color:white;
	text-align: center;
	padding-top: 25px;

}

